.card {
 display: flex;
 flex-direction: column;
 background-color: white;
 margin: 10px;
 padding: 10px;
 box-shadow: 0 5px 5px rgba(0, 0, 0, .26);
 border-radius: 5px;
}

.card > h3 {
 margin: 0;
 font-weight: 500;
 font-size: 25px;
}

.card-footer {
 display: flex;
 justify-content: space-between;
}